<!DOCTYPE html>
<html>
<head>
  <title>Hydradam</title>
  <%= stylesheet_link_tag    "hydradam/application", media: "all" %>
  <%= javascript_include_tag "hydradam/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
